<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interfaces.daniel.asoguau">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CinesUnidos">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity
            android:name=".ui.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ConNavigationDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActividadPrincipal"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConNavigationDrawer" />
        <activity android:name=".ui.DetallesPelicula" />
        <activity
            android:name=".ui.Registro"
            android:label="@string/title_activity_registro" />
        <activity
            android:name=".ui.ProcesarCompra"
            android:label="@string/title_activity_procesar_compra" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/facebook_app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider355198514515820"
            android:exported="true" />

        <receiver android:name=".ui.HelloFacebookBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.platform.AppCallResultBroadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.AgregarNoticia"
            android:label="@string/title_activity_agregar_noticia"
            android:theme="@style/Theme.CinesUnidos"></activity>
        <activity android:name=".ui.ActualizarPerfil"></activity>
        <activity android:name=".ui.NuevaNoticia"></activity>
    </application>

</manifest>
